 .Content {
    text-align: center;
    width:100%;
  }
  
  .Content-logo {
    height: 40vmin;
  }
  
  .Content-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Content-link {
    color: #09d3ac;
  }